.footer {
  width: 100%;

  display: grid;
  justify-content: space-between;
  overflow: hidden;
  padding: 0 2rem;
  border-top: solid 1px white;
  margin-top: 40vh;
  padding-top: 2rem;
  padding-bottom: 10vh;
}
.footer h4 {
  font-size: 1.5rem;
  letter-spacing: 0.35rem;
  color: #bb444b;
  text-transform: uppercase;
}

.left img {
  width: 10rem;
  object-fit: contain;
  margin-top: 1rem;
}

.left p {
  margin-top: 3rem;
}
.footer div {
  margin: 0 auto;
  margin-top: 2rem;
  text-align: center;
}
.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  margin-top: 0.75rem;
  text-transform: uppercase;
  cursor: pointer;
}

.middle li {
  font-size: 1.25rem;
}
.middle li a {
  letter-spacing: 4px;
}

.right a {
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  letter-spacing: 3px;
}

.right span {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.contact li {
  display: flex;
  align-items: center;
  font-size: 1.75rem;
}

.contact span {
  font-size: 1.25rem;
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .footer {
    height: 45vh;
    grid-template-columns: 20% 20% 20% 30%;
  }
  .footer div {
    margin-top: 0;
  }
  .middle {
    margin-left: 2rem;
  }
}
