.header {
  height: 15vh;

  width: 100%;

  background: transparent;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
}
.container {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  width: 100%;

  align-items: center;

  padding: 0 4rem;
  z-index: 1000;
}
.nav {
  display: none;
  margin-right: 4rem;
  width: 100%;
}
.ul {
  display: flex;
  letter-spacing: 0.2rem;
  justify-content: space-between;
}

.li {
  margin: 0 0.7rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.3rem;
}

.header img {
  width: 4rem;
  object-fit: contain;
}
.hamburger {
  display: grid;
  place-content: center;
  font-size: 2rem;
  font-weight: 500;
}
.sidebar {
  width: 40vw;
  height: 100vh;
  transform: translate(100%);
  z-index: 1000;
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.3s ease;
}
.close {
  border-bottom: 1px;

  width: 100%;
  height: 10vh;
  display: grid;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  align-items: center;
  font-size: 2rem;
  color: white;
}
.links {
  display: grid;
  width: 100%;
  height: 70vh;
}
.links ul {
  width: 100%;
  display: grid;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media only screen and (min-width: 768px) {
  .nav {
    display: block;
  }
  .hamburger {
    display: none;
  }
}
