.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  padding-bottom: 5rem;
}
.title {
  text-align: center;
}
.underline {
  width: 8rem;
  margin-top: 2px;
  height: 6px;
  background: radial-gradient(#bb444b, #000000);
  margin: 0 auto;
}

.services {
  margin-top: 5rem;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 400px));
  grid-gap: 2rem;
}
