.about {
  width: 100% !important;
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  text-align: center;
}

.underline {
  width: 7rem;
  height: 4px;
  background-image: radial-gradient(#bb444b, #000000);
  margin: -1rem auto;
}
